
  .card {
    background-color: #3A7CA5; 
    color: white;
    height: 110vh;
    margin-bottom: 50px;
  }
  .card-img-top {
    /* height: 250px; */
    object-fit: cover;
    
  }
  .btn-custom {
    background-color: #2F6690; /* Colore del bottone */
    color: white;
    display: block;
    margin: 0 auto; 
  }
  .btn-custom:hover {
    background-color: #25516d; /* Colore al passaggio del mouse */
  }.bg-skyBlue{
    background-color: #81c3d7;
}

.logoNav{
    height: 50%;
    width: 50px;
    border-radius: 50%;
}

.navbar-toggler{
    color: transparent;
}

.trigger {
    position: fixed;
    z-index: 2;
    right: -3;
    top: 2;
    transform: translateX(-50%) translateY(-50%);
}

.bars {
    width: 80px;
    cursor: pointer;
}
.bars .line {
    fill: none;
    stroke: #fff;
    stroke-width: 4;
    stroke-linecap: square;
    transition: stroke-dasharray 400ms,  stroke-dashoffset 400ms;
}
.bars .line.top {
    stroke-dasharray: 40 172;
}
.bars .line.middle {
    stroke-dasharray: 40 111;
}
.bars .line.bottom {
    stroke-dasharray: 40 172;
}
.bars.active .top {
    stroke-dashoffset: -132px;
}
.bars.active .middle {
    stroke-dashoffset: -71px;
}
.bars.active .bottom {
    stroke-dashoffset: -132px;
}

.btnCustom{
    background: rgb(255,55,55);
    background: linear-gradient(180deg, rgba(255,55,55,1) 0%, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 100%);
    color: white;
    /* height: 60px; */
    width: 55px;
    border-radius: 50%;
}
.bi{
    background: -webkit-radial-gradient(circle, rgba(58,124,165,1) 34%, rgba(22,66,91,1) 51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}


.btnCustom2{
    background: rgb(58,124,165);
    background: linear-gradient(219deg, rgba(58,124,165,1) 34%, rgba(22,66,91,1) 51%);
    color: #D9DCD6;
}


:root{
--main: #D9DCD6;
--sec: #81C3D7;
--acc: #16425B;
}


body{
    background-color: #D9DCD6;
}

.customContainer{
border-bottom: 2px solid black;}

.customHeader{
background-image: url(https://movieplayer.net-cdn.it/t/images/2024/04/27/shaman-king-flowers-recensione-anime-sequel-netflix_cropped_0_20_1600_920_jpeg_1600x900_crop_q85.jpg);
background-size: cover;

}

.titolocard{
    height: 30%;
    width: 55%;
    border: 4px solid #16425B;
    border-radius: 45px;
    background-color: #3a7ca58c;
    color: #81C3D7;
    text-shadow: 2px 2px #2F6690;
    backdrop-filter: blur(3px);
}

.imagineworld{
    width: 50%;
}

.customCard{
    border-bottom: 3px solid black ;
}

.ubuntu-mono-regular {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .ubuntu-mono-bold {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 700;
    font-style: normal;
  }
  
  .ubuntu-mono-regular-italic {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-style: italic;
  }
  
  .ubuntu-mono-bold-italic {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 700;
    font-style: italic;
  }
  

/* @media only screen (max-widht: 320px) {
    .media{
        width: 80vw;
        height: 50vh;
    }

    
  .card {
    height: 120vh;
    margin-bottom: 50px;
    padding-bottom: 50px;
  }
    
} */

.navEffect{
    background: linear-gradient(219deg, rgba(58,124,165,1) 34%, rgba(22,66,91,1) 51%) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 350ms;
    --bg-h: 100%;
    color: inherit;
    line-height: 1;
}

.navEffect:where(:hover, :focus-visible){
    background-size: 100% var(--bg-h);
    background-position-x: left;
}

.underline {
    padding-bottom: 2px;
    --bg-h: 2px;
}